<h1>How do I get started?</h1>
<p style="font-size:20px;"><span style="font-size:30px;">1. </span> Login to all your banks that you use credit cards with.</p>
<p style="font-size:20px;"><span style="font-size:30px;">2. </span> Download all data via CSV.</p>
<p style="font-size:20px;"><span style="font-size:30px;">3. </span> Change CSV headers to follow this format.</p>
<p style="font-size:20px;"><span style="font-size:30px;"> </span> amount, transaction date, description (aka merchant info).</p>
<p style="font-size:20px;"><span style="font-size:30px;">4. </span> Upload it.</p>
<p style="font-size:20px;"><span style="font-size:30px;">5. </span> Sit back you're done!</p>
<br>
<br>
<p style="font-size:20px;"><span style="font-size:30px;"></span> <i>...well not quite...</i></p>
<p style="font-size:20px;"><span style="font-size:30px;"></span> Now you are empowered to configure how you want a descrition field to map to a category.
  We will automatically map that word to a category for all future upload. It will find it in the description, and auto classify to whatever you choose.
</p>
