<div class="text-center">
<h1 style="font-size:44px;">Take Control of your Cash!</h1>
  <hr>
<p style="font-size:18px;">Create an account with cash optics, import your data and you'll be rolling in the dough!</p>
<img class="img-responsive center-block" style="width:300px" src="/assets/Cash.jpg" />




