<h1>Take Control of your Cash!</h1>
<p style="font-size:20px;">create an account with cash optics, import your data via a CSV file (comma separate values) and you'll be rolling in the dough!</p>

<img style="width:400px" src="/assets/Cash.jpg" />
